/* calculator.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #171717; /* Dark background for sleek look */
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: #333; /* Dark grey for the calculator background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #222; /* Even darker shade for contrast */
    color: #fff; /* White text */
    border: none;
    text-align: right;
    font-size: 1.5em;
    border-radius: 4px;
}

.keys button {
    width: 23%; /* Equal width for all buttons */
    padding: 10px 0;
    margin: 5px 1%;
    background-color: #cc0909; /* Red color for buttons */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.keys button:hover {
    background-color: #ff3333; /* Lighter red on hover */
}

.keys button:active {
    transform: scale(0.98); /* Slight press effect */
}
